
.grid-main {
    max-width: 1080px;
    margin: 0 auto;
}


.grid-header {
    -webkit-display: flex;
    -justify-content: space-between;
    justify-content: space-between;
    display: flex;
    position: fixed;
    width: 100%;
    background : rgba(8, 7, 7, 0.6);
    max-width: inherit;
    padding: 5px 20px;
    height: 40px;
    z-index: 10;
    border-bottom: 1px solid white;
    color: white;
}
