.grid-main .company {
    height: 200vh;
    position: relative;
}

.grid-main .company .pane {
    height: 100vh;
}

.grid-main .company .pane {
    background-size: cover;
}


.grid-main .company:first-of-type {
    top: 40px;
}

.grid-main .company .title {
    margin: 10px 0;
}

.grid-main .company .presentation {
    background: rgba(8, 7, 7, 0.6);
    border-radius: .3rem;
    margin: 0 auto;
    position: relative;
    top: 30%;
    width: 40%;
    color: white;
    max-height: 30%;
}
